<div class="container">
  <img src="assets/logo.svg" alt="Main logo page" (click)="scrollTo('home')" />
  <nav>
    <ul>
      <li><a (click)="scrollTo('about')">About</a></li>
      <li><a (click)="scrollTo('portfolio')">Portfolio</a></li>
      <li><a (click)="scrollTo('certificates')">Certificates</a></li>
      <li><a (click)="scrollTo('contact')">Contact</a></li>
    </ul>
  </nav>
</div>
<app-container>
  <section class="_texts">
    <h1>Hi, I'm <strong>Alisson Deivison</strong></h1>
    <h2>Welcome to my space</h2>
    <p>I'm a student of Information Systems and a lover of Web Development.</p>
  </section>
  <section class="_image">
    <img src="assets/personal_image.svg" alt="Personal image" />
  </section>
</app-container>

