<p>
  Hello there! I'm <strong class="focus">Alisson Deivison</strong>, a 30-year-old student
  currently in my third year studying Information Systems at UniFacisa in the
  vibrant city of Campina Grande. Beyond study and work, I wear the hats of a
  devoted husband and proud father to two amazing children,
  <span class="pink focus">Alissa Emanuella</span> and
  <span class="blue focus">Anthony Gabriel</span> . As I navigate through life, I
  proudly embrace my identity as a cisgender man with a pardo skin. <i
    >Let's connect and embark on this exciting journey together!
  </i>
</p>
