p {
  color: white;
  font-size: 16px;
  margin-bottom: 2rem;
  
  strong{
    color: rgb(23, 23, 199);
    font-weight: 400;
  }

  .pink {
    color: rgb(248, 162, 176);
  }

  .blue {
    color: rgb(23, 23, 199);
  }

  .focus{
    background-color: rgb(255, 255, 255);
  }

}
