h2 {
  color: white;
}

.certificates-container {
  display: flex;
  max-width: 20rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.514));

  p {
    color: white;
    text-align: start;

    &.title {
      font-size: 1.2rem;
    }
  }

  button{
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    
  }
}
