<mat-tab-group>
  <ng-container *ngFor="let item of tabs">
    <mat-tab label="{{ item.label }}">
      <div
        class="teste"
        style="
          height: 20rem;
          border-radius: 20px;
          padding: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          margin-bottom: 2rem;
        "
      >
        <mat-card style="background-color: #94532100; padding: 2rem">
          <div
            style="
              display: flex;
              justify-content: space-between;
              gap: 2rem;
              align-items: center;
            "
          >
            <img src="{{ item.image }}" style="height: 15rem" />
            <span style="color: white">{{ item.content }}</span>
          </div>

            <button mat-raised-button color="primary" style="width: 10rem; margin-top:2rem; align-self:center; " (click)="redirectTo(item.link ?? '')">
            Project
          </button>
        </mat-card>
      </div>
    </mat-tab>
  </ng-container>
</mat-tab-group>
