::ng-deep {
    mat-tab-group {
      .teste {
        height: 20rem;
        border-radius: 20px;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
  
        .example-card {
          mat-card-header {
            mat-card-title-group {
              img {
                height: 15rem;
              }
            }
          }
  
          mat-card-content {
            p {
              a {
                color: #945321;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  