<div class="footer">
  <div class="social-networks">
    <figure>
      <a
        href="https://www.linkedin.com/in/alisson-deivison-52204588/"
        target="_blank"
      >
        <img src="/assets/icons/linkedin.svg" alt="Linkedin logo" />
      </a>
    </figure>
    <figure>
      <a href="mailto:uepbalisson@gmail.com">
        <img src="/assets/icons/gmail.svg" alt="Gmail logo" />
      </a>
    </figure>
    <figure>
      <a
        href="https://api.whatsapp.com/send?phone=5583988508473&text=Ol%C3%A1!%20Cheguei%20at%C3%A9%20voc%C3%AA%20atrav%C3%A9s%20do%20seu%20Portf%C3%B3lio."
        target="_blank"
      >
        <img src="/assets/icons/whatsapp.svg" alt="Whatsapp logo" />
      </a>
    </figure>
  </div>
</div>
<div class="last-section">
  <p>© 2024 Alisson Deivison. All rights reserved.</p>
</div>
